<%- include('common/view_start', {
  title: 'Add-Delete Course',
  cssFiles: ['addanddelete'],
  navBarLocation: 'addanddelete'
}) %>

<%- include('common/header', {
  heading: 'Add-Delete Course',
  subheading: 'เพิ่ม-ลด วิชาเรียน',
  breadcrumb: [
    'Add-Delete Course'
  ]
}) %>
<script type="text/javascript">

$(document).ready(function(){

    var counter = 2;

    $("#addButton").click(function () {

    if(counter>10){
            alert("Only 10 textboxes allow");
            return false;
    }

    var newTextBoxDiv = $(document.createElement('div'))
         .attr("id", 'TextBoxDiv' + counter)
         .attr("class", 'form-group');

    newTextBoxDiv.after().html('<label class="col-sm-2 control-label">Course ID #'+ counter + ': </label>' +
          '<div class="col-sm-10"><input class="form-control" type="text" name="add_courses' + counter +
          '" ' + counter + '></div><label class="col-sm-2 control-label">Section #'+counter+':</label>' +
          '<div class="col-sm-10"><input class="form-control" type="text" name="sections'+counter +
          '"></div>');

    newTextBoxDiv.appendTo("#addCourseGroup");


    counter++;
     });

     $("#removeButton").click(function () {
    if(counter==1){
          alert("No more textbox to remove");
          return false;
       }

    counter--;

        $("#TextBoxDiv" + counter).remove();

     });

     $("#getButtonValue").click(function () {
          if (confirm('Confirm ?')) {
            console.log("USER CLICKS YES");
            document.getElementById("formInput").submit(() => {
                console.log("POST METHOD");
            });
          }
          else {
            console.log("USER CLICKS NO");
          }
     });

     //====== form number 2 ========

     var counter2 = 2;

     $("#addButton2").click(function () {

     if(counter2>10){
             alert("Only 10 textboxes allow");
             return false;
     }

     var newTextBoxDiv2 = $(document.createElement('div'))
          .attr("id", 'TextBox2Div' + counter)
          .attr("class", 'form-group');

     newTextBoxDiv2.after().html('<label class="col-sm-2 control-label">Course ID #'+ counter2 + ': </label>' +
           '<div class="col-sm-10"><input class="form-control" type="text" name="delete_courses' + counter2 +
           '" ' + counter2 + '></div>');

     newTextBoxDiv2.appendTo("#deleteCourseGroup");


     counter2++;
      });

      $("#removeButton2").click(function () {
     if(counter2==1){
           alert("No more textbox to remove");
           return false;
        }

     counter2--;

         $("#TextBox2Div" + counter2).remove();

      });

      $("#getButtonValue2").click(function () {
          if (confirm('Confirm ?')) {
            console.log("USER CLICKS YES");
            document.getElementById("formInput2").submit(() => {
                console.log("POST METHOD");
            });
          }
          else {
            console.log("USER CLICKS NO");
          }
      });
  });
</script>

<div class="container">
  <h2>Add Course</h2>
  <form id="formInput" class="form-horizontal" action="/addanddelete" method="POST">
    <div id="addCourseGroup">
      <div class="form-group" id="TextBoxDiv1">
        <label class="col-sm-2 control-label">Course ID #1:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="add_courses1">
        </div>
        <label class="col-sm-2 control-label">Section #1:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="sections1">
        </div>
      </div>
    </div>
    <input type='button' class="btn btn-md btn-primary" value='Add Input' id='addButton'>
    <input type='button' class="btn btn-md btn-primary" value='Remove Input' id='removeButton'>
    <input type='button' class="btn btn-md btn-success" value='Submit' id='getButtonValue'>
  </form>

  <h2>Delete Course</h2>
  <form id="formInput2" class="form-horizontal" action="/addanddelete" method="POST">
    <div id="deleteCourseGroup">
      <div class="form-group" id="TextBox2Div">
        <label class="col-sm-2 control-label">Course ID #1:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="delete_courses1">
        </div>
      </div>
    </div>
    <input type='button' class="btn btn-md btn-primary" value='Add Input' id='addButton2'>
    <input type='button' class="btn btn-md btn-primary" value='Remove Input' id='removeButton2'>
    <input type='button' class="btn btn-md btn-success" value='Submit' id='getButtonValue2'>
  </form>
</div>

<%- include('common/view_end', {
  jsFiles: ['']
}) %>
