<%- include('common/view_start', {
  title: 'About',
  cssFiles: [],
  navBarLocation: 'about'
}) %>

<%- include('common/header', {
  heading: 'About',
  subheading: 'เกี่ยวกับเว็บไซต์',
  breadcrumb: [
    'About'
  ]
}) %>

<div class="container">
  
</div>

<%- include('common/view_end', {
  jsFiles: ['manager-board']
}) %>
