<%- include('common/view_start', {
  title: 'Withdraw',
  cssFiles: [],
  navBarLocation: 'withdraw'
}) %>

<%- include('common/header', {
  heading: 'ถอนรายวิชา',
  subheading: 'กรุณาใส่รหัสวิชาที่ต้องการถอน',
  breadcrumb: [
    'withdraw'
  ]
}) %>

<div class="container">
<form action="/withdraw" method="POST">

	Course number <input type="text" name="course_no"><br>
	<input type="submit" value="Submit">

</form>
</div>

<%- include('common/view_end', {
  jsFiles: ['manager-board']
}) %>