<%- include('common/view_start', {
  title: 'Withdraw',
  cssFiles: [],
  navBarLocation: 'withdraw'
}) %>

<%- include('common/header', {
  heading: 'Withdraw',
  subheading: 'ถอนรายวิชา',
  breadcrumb: [
    'withdraw'
  ]
}) %>

<div class="container">
  <form action="/withdraw" class="form-horizontal" method="POST">
    <label class="col-sm-2 control-label">Course ID :</label>
    <div class="col-sm-5">
      <input class="form-control" type="text" name="course_no"><br>
    </div>
  	<input type="submit" class="btn btn-md btn-success" value="Submit">
  </form>
</div>

<%- include('common/view_end', {
  jsFiles: ['manager-board']
}) %>
