<%- include('../common/view_start', {
  title: 'Student Info',
  cssFiles: [],
  externalCSSURLs: [],
  navBarLocation: 'student-info'
}) %>

<%- include('../common/header', {
  heading: 'Student Info',
  subheading: 'ข้อมูลของนักเรียน',
  breadcrumb: [
    'Student Info'
  ]
}) %>

<style>
div.relative {
    position: relative;
    left: 45px;
}
</style>

<style>
* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
}

.left {
  width: 17.5%;
}

.right {
  width: 82.5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>

<div class="container">
  <div class="row">

  <div class="column left" style="background-color:#aaa;">
    <img src="/static/img/oat.png" style=" height: 240px; width: 180px; margin-top: -3px">
    <div class="relative">
    <h3>รูปนิสิต</h3>
    </div>
  </div>

  <div class="column right" style="background-color:#bbb;">
  <p>ชื่อ แบก</p>
  <p>นามสกุล หลังหัก</p>
  <p>เพศ ชาย</p>
  <p>เลขประจำตัวประชาชน 11037XXXXXXXX</p>
  <p>รหัสนิสิต 58303XXXXX</p>
  <p>ระดับการศึกษา ปริญญาตรี</p>
  <p>ชั้นปี 3</p>
  <p>คณะ วิศวกรรมศาสตร์</p>
  <p>ภาควิชา คอมพิวเตอร์</p>
  <p>กรุ๊ปเลือด B</p>
  <p>ที่อยู่ ดาวโลก</p>
  <p>อีเมลล์ Oatza.H@chula.ac.th</p>
  </div>
  
</div>
</div>

<%- include('../common/view_end', {
  jsFiles: ['data-table-language', 'student-info-search'],
  externalJSURLs: []
}) %>
